
@import url('https://fonts.googleapis.com/css?family=Poor+Story');

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body{
    background-color: black;
    color:white;
    font-family: 'Press Start 2P', cursive;
}
.thumb{
    margin-left: 30px;
}



.zoom div:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border:2px dotted white;

}

.live{

    background-color: darkorange;
    height:20px;




}

.liveborder{

    border:2px dotted white;
    height:24px;
}

